mmdetection3d/ckpt/
mmdetection3d/demo/data/
mmdetection3d/data/kitti_fov_box_seg/
mmdetection3d/outputs/
mmdetection3d/work_dirs/
OpenPCDet/data/
OpenPCDet/tools/ckpt/
OpenPCDet/output/
OpenPCDet/tools/router_work_dirs/
__pycache__/
*.py[cod]
*.log
*.json
*.label
*.csv
*.png
*.npy
*.bin
*.txt
*.pkl
*.pth
*.ply
