mode: 0

trisoupNodeSizeLog2: 0
mergeDuplicatedPoints: 1
neighbourAvailBoundaryLog2: 8
intra_pred_max_node_size_log2: 6
angularEnabled: 1

planarBufferDisabled: 1
maxNumQtBtBeforeOt: 4
minQtbtSizeLog2: 0
planarEnabled: 1
planarModeIdcmUse: 0

partitionMethod: 0
maxNumQtBtBeforeOt: 6
planarModeIdcmUse: 32

# ==================== 属性压缩关键修改 ====================
# 1. 必须设为 0！否则 G-PCC 会把反射率当成 RGB 处理并报错
convertPlyColourspace: 0  

# 2. 明确指定要压缩的属性名称（需与你 PLY 文件内的名字一致，通常是 reflectance 或 intensity）
attribute: reflectance 

# 3. 变换类型：1 是 RAHT（雷达属性压缩最常用），2 是 PredLift。建议改成 1 测试。
transformType: 1
# ==========================================================

numberOfNearestNeighborsInPrediction: 3
levelOfDetailCount: 8
lodDecimator: 0

lodDecimator: 1
lod_neigh_bias: 1,1,8

lod_neigh_bias: 1,1,1
spherical_coord_flag: 1